* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
.sitenav {
  display: flex;
  position:fixed;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  background-color: darkslategray;
}
.sitenav .rightnav {
  overflow:visible;
  width: 50%;
}
.sitenav .rightnav .navlinks {
  display: flex;
}
.sitenav .rightnav .navlinks {
  list-style: none;
}
.sitenav .rightnav .navlinks li a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.7rem 0.5rem;
}
.sitenav .rightnav .navlinks a:hover {
  font-style: italic;
}
/* leftnav */
.sitenav .leftnav {
  width: 50%;
}

.sitenav .leftnav .navlink {
  text-align: right;
  list-style: none;
}
.sitenav .leftnav .navlink .img {
  width: 10%;
  border: 2px solid black;
  border-radius: 50rem;
}
/* section */

.sec-1 .centre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  border: 0.1rem solid white;
}

/* maincontent */
.maincontent {
  border: 2px solid white;
}
.container {
  display: flex;
  background-color: black;
  justify-content: centre;
  align-items: center;
  border: 0.1rem solid white;
}
.container .img2 {
  width: 50%;
  text-align: right;
  background-color: black;
}
.container .img1 {
  width: 50%;
  text-align: left;
  background-color: black;
}
.container .content1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* footer */
.container_footer .foo1 {
  padding: 0 2rem;
}
